@import 'bootstrap-variables';
@import 'bootstrap/mixins';


.jumbotron {
  background-image: asset-url('fallacymania-jumbo-image-38.png');

  background-repeat:no-repeat;
  background-size:cover;

  background-position:center;
  overflow: hidden;
  height: 25rem; // -- 30rem
  color: white;



}


.jumbotron > footer {
  position: absolute;
  bottom: 0;
  left: $grid-gutter-width-base / 2;
  right: $grid-gutter-width-base / 2;
}


@include media-breakpoint-down(sm) {
  .jumbotron h1.display-4 {
    font-size: $display4-size * 0.618;
    line-height: $display-line-height * 0.618;

  }

}