.jumbotron {
  background-image: asset-url('fallacymania-jumbo-image1-29.png');

  background-repeat:no-repeat;
  background-size:cover;

  background-position: center;
  overflow: hidden;
  height: 25rem; // -- 30rem
  color: white;

}

.jumbotron > footer {
  position: absolute;
  bottom: 0;
  left: $grid-gutter-width-base / 2;
  right: $grid-gutter-width-base / 2;
}

#home .jumbotron {
  background-image: asset-url('bg-home.jpg')
}

#game .jumbotron {
  background-image: asset-url('bg-game.jpg')
}

#buy .jumbotron {
  height: 40rem;
  background-position: left top;
  background-image: asset-url('bg-buy.png')
}

#downloads .jumbotron {
  background-image: asset-url('bg-downloads.jpg')
}

#about .jumbotron {
  background-image: asset-url('bg-about.jpg')
}

@include media-breakpoint-down(sm) {
  .jumbotron h1.display-4 {
    font-size: $display4-size * 0.618;
    line-height: $display-line-height;

  }
}
