- content_for :title do
  About
.jumbotron
  %h1.display-4 About the Website FALLACY
  %p.lead
    This web application was created with
    =link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/')
    from the #{link_to('RailsApps project', 'http://railsapps.github.io/')}.
