- content_for :title do
  Fallacymania &mdash; О сайте
- content_for :header do
  .jumbotron.container
    %h1.display-4
      Материалы сайта: условия использования&nbsp;и подтверждение прав

%section

  %h2
    Разработчики игры Fallacymania
  %p
    %ul.list-unstyled
      %li Александр Попов
      %li Юрий Баранов

  %h2
    Создатели сайта fallacymania.com
  %p
    %ul.list-unstyled
      %li Юрий Баранов &mdash; контент и веб-мастеринг
      %li Александр Попов &mdash; дополнительный контент

  %h2
    В подготовку материалов игры внесли неоценимый вклад
  %p
    %ul.list-unstyled
      %li Алина Горбатова (текстовая корректура и графическое редактирование, идеи оформления)
      %li Дмитрий Яхонтов (разработка новых оригинальных иконок )

%section
  %h2#upstream-attribution
    В игровых материалах и оформлении сайта также использованы работы авторов
  %p
    %ul.list-unstyled
      %li  Дэвид Маккандлесс (David McCandless) (<a href="http://www.informationisbeautiful.net/visualizations/rhetological-fallacies/" target="_blank">Rhetological fallacies</a>)
      %li  Джесси Ридчардсон (Jesse Richardson) (<a href="https://yourlogicalfallacyis.com/" target="_blank">your logical fallacy is</a>)
      %li  Александр Образ (<a href="http://obraz.io/ru/posters/poster_view/1/?back_link=%2Fru%2F&lang=ru&arrow=right" target="_blank">Логические ошибки</a>)
  %p Огромная благодарность всем этим людям за возможность использовать результаты их труда!
  %p
    При разработке игровых материалов в эти работы были внесены следующие изменения
    %ul
      %li выбраны отдельные фрагменты исходных работ (описания избранных псевдоаргументов)
      %li переведены и/или отредактированы русские тексты
      %li модифицированы иконки (пиктограммы), адаптированы шрифты, изменены цвета фона

%section
  %h2#license Лицензия

  %p
    Материалы  и правила игры Fallacymania, а также остальной контент сайта (тексты, изображения, аудио и видео материалы)
    разрешается использовать третьим лицам в соответствии с правилами лицензии Creative Commons
    %span.text-primary CC BY-NC 4.0.
    %ul
      %li
        %a(href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank") Официальный текст условий лицензии (англ. яз.)
      %li
        %a(href="https://creativecommons.org/licenses/by-nc/4.0/deed.ru" target="_blank") Краткое объяснение условий лицензирования по-русски

  %p
    Исходный код сайта доступен на&nbsp;
    %a(href="https://github.com/fallacymania/fallacymania.com" target="_blank")>github.com
    ; условия использования оговорены в тексте
    %a(href="https://github.com/fallacymania/fallacymania.com/blob/master/LICENSE.md" target="_blank")Лицензии


