- content_for :title do
  Fallacymania &mdash; где можно приобрести игру
- content_for :header do
  .jumbotron.container
    %h1.display-3
      Где приобрести
%section
  %h2 Где приобрести?
  %p
    Изготовленный типографским способом набор для игры можно купить одним из следующих способов:
    %ul
      %li
        В антикафе "Кочерга":
        = link_to 'Виртуальный прилавок игры в «Кочерге».',
        'https://vk.com/kocherga_club?w=product-99973027_632856',
        title: 'Информация о продаже Fallacimania через Кочергу во ВКонтакте',
        target: :_blank
      %li
        В интернет-магазине
        = link_to '«Игротайм».', 'https://www.igrotime.ru/fallacymania.html',
        target: :_blank
        Есть доставка по РФ.
