- content_for :title do
  Fallacymania &mdash; где можно приобрести игру
- content_for :header do
  .jumbotron.container
    %h1.display-3
      Где приобрести
%section
  %h2 Где приобрести?
  %p
    К сожалению, весь тираж коробок игры на сегодняшний день распродан. На сегодня (февраль 2022)
    выпуск дополнительного тиража пока не планируется. О всех изменениях будет сообщено на нашем сайте.
    Распечатайте материалы со страницы
    = link_to 'Загрузки', 'downloads'
    для самостоятельного изготовления собственного набора для игры.



