- content_for :title do
  Fallacymania &mdash; где можно приобрести игру
- content_for :header do
  .jumbotron.container
    %h1.display-3
      Где приобрести
%section
  %h2 В сентябре 2022 года коробка игры снова доступна для заказа!
  %p
  Изготовленный типографским способом набор для игры можно купить на сайте &nbsp;
  = link_to 'CrowdRepublic.', 'https://crowdrepublic.ru/projects/1047816',
  target: :_blank



