- content_for :title do
  Fallacymania &mdash; Игра
- content_for :header do
  .jumbotron.container
    %h1.display-4
      %strong(style="font-weight:bold;") Fallacymania
      &mdash; игра
%section
  %h2 Как играть?
  %p
    %ul
      %li
        Можно
        = link_to 'скачать', page_path('downloads'), title: 'Загрузки'
        игровые материалы, распечатать и изготовить  комплект для настольной игры самостоятельно.
      %li
        Можно поиграть с друзьями в Интернете с помощью программы Tabletop Simulator на платформе   Steam&reg;:
        %ul.list-unstyled
          %li
            %a( href="http://steamcommunity.com/sharedfiles/filedetails/?id=723926088") русская версия
          %li
            %a( href="http://steamcommunity.com/sharedfiles/filedetails/?id=723941480") английская версия

%section
  %h2 Fallacymania &mdash; правила игры
  %ol
    %li
      Для игры нужно 3&ndash;20 игроков (рекомендуется 4&ndash;12). Игроки разбиваются на 2 группы:
      спорщики (2&ndash;10 игроков) и отгадчики (1&ndash;10 игроков). Ведущий может играть в любой
      из этих ролей.
    %li
      Реквизиты для игры:
      %ul
        %li Колода карт софизмов, содержащая также 1 карту «Зеро»;
        %li 10 листов с софизмами для отгадчиков;
        %li Ручки и бумажки для каждого из отгадчиков &mdash; для подсчёта очков;
        %li 50 карт попыток для отгадчиков.

  %h3 Подготовка к игре
  %ol
    %li
      Спорщики перетасовывают колоду и тянут по 5 карт с софизмами, которые они будут использовать.
      Если спорщиков больше 6, они берут только по 4 карты.
    %li
      Некоторые (или все) спорщики определяют для себя тезисы, которые они будут
      отстаивать с использованием софизмов. Задача спорщиков &mdash; проталкивать собственные
      тезисы, а также комментировать (поддерживать или опровергать) сказанное другими
      спорщиками, но с использованием софизмов со своих карт. <br>
      Примеры тезисов:
      %ul
        %li Инопланетных цивилизаций не существует;
        %li Никого невозможно в чём-то убедить при помощи софизмов;
        %li Зелёный цвет красивее, чем красный.
    %li
      Спорщики могут объединяться в группы, когда несколько человек отстаивают один и
      тот же тезис. Те спорщики, которые не взяли себе никакой тезис, используют софизмы
      только для ответов на сказанное другими.
    %li
      Отгадчики берут листы с софизмами, карты попыток и ручки с бумажками для подсчёта
      очков. Количество карт попыток зависит от количества отгадчиков:
    %ul
      %li если отгадчиков 1&ndash;2, каждый берёт по 15 карт попыток;
      %li если отгадчиков 3&ndash;4, каждый берёт по 10 карт попыток;
      %li если отгадчиков 5&ndash;6, каждый берёт по 8 карт попыток;
      %li
        если отгадчиков больше 6, то 50 карт попыток делятся поровну между отгадчиками,
        а остаток убирается обратно в коробку.
    %li После этого всё готово к игре: ведущий запускает таймер, и игра начинается.

  %h3 Ход игры
  %ol
    %li
      Игра идёт в реальном времени. Спорщики говорят фразы в поддержку своего тезиса, а
      также поддерживают или опровергают тезисы других спорщиков. Но всё это должно
      делаться с использованием софизмов, которые есть у спорщиков на картах.
    %li
      У спорщиков нет условий победы и поражения; их цель &mdash; попрактиковаться
      использовать софизмы так, чтобы аргументы звучали убедительно.
    %li
      Спорщики могут говорить в любом порядке; могут как отвечать на реплики других
      игроков, так и высказывать новые суждения относительно своего тезиса.
    %li
      Отгадчики смотрят дебаты и пытаются угадать, какие софизмы используют спорщики.
      Отгадчики соревнуются между собой, кто наберёт больше очков за угаданные софизмы.

    %li
      Любой из отгадчиков может в любой момент пытаться угадывать софизмы, которые
      используют спорщики. Для этого отгадчик громко говорит имя спорщика и название
      софизма, который, как ему кажется, употребил этот спорщик. Спорщик отвечает
      отгадчику, правильная была догадка или нет.

    %li
      Отгадчик может пытаться угадать софизмы
      %b.text-primary только из последней реплики
      , сказанной
      спорщиком. Если спорщик уже начал говорить следующую реплику, предыдущие софизмы
      угадывать нельзя. Тем не менее, можно пытаться угадать последние сказанные софизмы
      других спорщиков, пока они не начали говорить.

    %li
      Спорщик может использовать в одной реплике несколько софизмов одновременно из тех,
      которые есть у него на картах. Отгадчики тоже могут пытаться найти несколько
      софизмов в одной реплике спорщика.

    %li
      За каждый угаданный софизм отгадчик получает
      %b.text-primary 1 очко
      , а спорщик откладывает
      угаданную карту софизма в сброс и берёт себе новую из колоды. Если колода
      заканчивается, то сброс перетасовывается и становится новой колодой.

    %li
      Спорщик больше не может использовать тот софизм, который ушёл в сброс, но может
      пользоваться новым полученным софизмом.

    %li
      Если отгадчик называет не тот софизм, который использовал спорщик, то он теряет
      %b.text-primary 1 карту попытки
      \. Когда карты попыток у отгадчика заканчиваются,
      %b.text-primary он начинает терять по 1 очку
      за каждую неправильную попытку.

    %li
      Игра продолжается
      %b.text-primary 20 минут
      \. В конце игры среди отгадчиков определяется победитель
      по количеству набранных очков.
