/%li.nav-item= link_to 'Главная', page_path('home'), class: 'nav-link'
%li.nav-item= link_to 'Игра',     page_path('game'), class: 'nav-link'
%li.nav-item= link_to 'О сайте',  page_path('about'), class: 'nav-link'
%li.nav-item= link_to 'Загрузки', page_path('downloads'), class: 'nav-link'
