.container
  %nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false",
    "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    %a.navbar-brand{:href => root_path} Fallacymania
    #navbarSupportedContent.collapse.navbar-collapse
      /
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        = link_to "Rails bootstrap", root_path, class: 'navbar-brand'
      %ul.navbar-nav.mr-auto.nav-tabs
        = render 'layouts/navigation_links'
      %ul.navbar-nav.ml-auto.nav-tabs
        %li.nav-item
          = link_to  '/blog', class: 'nav-link', data: {turbolinks: false} do
            Блог
            %sup.badge.badge-pill.badge-success новость!

